body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    text-align: center; 
    font-size:24px; 
    color: black;
    font-weight: bold; 
}

.container{
    width: fit-content; 
    margin: 20px auto; 
    padding: 3px;
    border: 1px solid #707070;
    background-color: #f3f3f3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.row-button-m{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button{
    float: left;  
    margin: 2px;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover{
    background-color: #e4e4e4;
}

.button-row{
    width: 40px;
    background-color: #f9f9f9;
    border: 1px solid #c5c5c5;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.button-m{
    width: 30px;
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
}

.button-number{
    font-weight: bold;
}

.button-equals{
    background-color: #196aa7; 
    color: white;
}

.button-equals:hover{
    background-color: #1e82cd;
}

.display{
    background-color: #eaeaea;
    padding: 5px;
    color: black;
    margin: 5px;
    border-radius: 4px;
    height: 40px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display-upper{
    font-size: small;
    text-align: left;
}
.display-lower{
    font-size: large;
}